@import "../styles/variables";

button[class^=base-button] {
    padding: 12px 45px;
}

.base-button-light {
    background-color: $threeid-light;
    color: $threeid-dark;
}

.base-button-dark {
    background-color: $threeid-dark;
    color: $threeid-light;
}