@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
}

@font-face {
  font-family: 'Inter';
  src: url('./inter-font/Inter-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('./inter-font/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('./inter-font/Inter-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('./inter-font/Inter-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('./inter-font/Inter-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Inter';
  src: url('./inter-font/Inter-Bold.ttf');
  font-weight: 700;
}
