;; deps.edn
{:paths ["src/main"]
 :deps
 {;; a Clojure/Script library for word case conversions
  camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
  ;; Implementations of common encoders and decoders
  commons-codec/commons-codec {:mvn/version "1.15"}
  ;; A data format and set of libraries for conveying values
  com.cognitect/transit-clj {:mvn/version "1.0.329"}
  ;; Pure Clojure/Script logging library
  com.taoensso/timbre {:mvn/version "5.1.2"}
  ;; An http client for Clojure wrapping jdk 11's HttpClient
  hato/hato {:mvn/version "0.8.2"}
  ;; Micro-framework for data-driven architecture
  integrant/integrant {:mvn/version "0.8.0"}
  ;; A Clojure library for fast json encoding and decoding
  metosin/jsonista {:mvn/version "0.3.5"}
  ;; Data-driven schemas for Clojure
  metosin/malli {:mvn/version "0.8.4"}
  ;; Expansive Java cryptographic library
  org.bouncycastle/bcprov-jdk15on {:mvn/version "1.70"}
  ;; Facilities for async programming and communication in Clojure
  org.clojure/core.async {:mvn/version "1.5.648"}
  ;; Crypto library for tx signing and key/wallet management in Ethereum
  ;; cf. https://docs.web3j.io/4.8.7/advanced/web3j_core_modules/
  org.web3j/crypto {:mvn/version "5.0.0"}
  ;; Minimal set of web3 utility classes
  org.web3j/utils {:mvn/version "5.0.0"}}
 :aliases
 {:dev {:extra-paths ["src/dev"]
        :extra-deps {fipp/fipp {:mvn/version "0.6.25"}}}
  :test {:extra-paths ["src/test"]
         :extra-deps {}}

  ;; $ clojure -M:lint --lint src/
  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2022.03.04"}}
         :main-opts ["-m" "clj-kondo.main"]}}}
