.border-down {
  border-bottom: 1px solid #e5e7eb;
}

.faq-button {
  width: 100%;
}

.dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dropdown-last {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
}

.faq-header-arrow {
  font-size: 32px;
}

.drop-arrow {
  width: 100%;
  height: 100%;
}

/* unvisited link */
.trad-url:link {
  color: red;
}

/* visited link */
.trad-url:visited {
  color: green;
}

/* mouse over link */
.trad-url:hover {
  color: hotpink;
}

/* selected link */
.trad-url:active {
  color: blue;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.show {
  visibility: visible;
}
