.my-masonry-grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;
  // margin-left: -30px;
  /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  // padding-left: 30px;
  /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > * {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 2.5rem;
}

.overlay-img-wrapper {
  div {
    display: none;
  }

  &:hover {
    div {
      display: flex;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}
