INVITE_CONTRACT_ADDRESS="0x90F3AfEE6a835bbE996Ab5546d0c7f7a9611ad2f"

DATADOG_CLIENT_TOKEN=
DATADOG_APPLICATION_ID=
DATADOG_SERVICE_NAME=3id-application
DATADOG_ENV=local

ALCHEMY_API_KEY=
ALCHEMY_API_URL=
ALCHEMY_NFT_URL=

TWITTER_BEARER_TOKEN=

NFTAR_URL=
NFTAR_AUTHORIZATION=

INVITE_OPERATOR_PRIVATE_KEY=

CHAIN_ID=5

MINTPFP_CONTRACT_ADDRESS=0x028aE75Bb01eef2A581172607b93af8D24F50643
NFTAR_CHAIN_ID=5

SESSION_SECRET=foobar