INTERNAL_APPLE_OAUTH_CLIENT_ID = ""
SECRET_APPLE_OAUTH_CLIENT_SECRET = ""

INTERNAL_GITHUB_OAUTH_CLIENT_ID = ""
SECRET_GITHUB_OAUTH_CLIENT_SECRET = ""

INTERNAL_GOOGLE_OAUTH_CLIENT_ID = ""
SECRET_GOOGLE_OAUTH_CLIENT_SECRET = ""

INTERNAL_MICROSOFT_OAUTH_CLIENT_ID = ""
SECRET_MICROSOFT_OAUTH_CLIENT_SECRET = ""

INTERNAL_TWITTER_OAUTH_CLIENT_ID = ""
SECRET_TWITTER_OAUTH_CLIENT_SECRET = ""

ZERODEV_PROJECT_ID = ""
