TOKEN_NFTAR = "foo"

APIKEY_ALCHEMY_ETH = 
ALCHEMY_ETH_NETWORK = 

APIKEY_ALCHEMY_POLYGON = 
ALCHEMY_POLYGON_NETWORK = 

INTERNAL_APPLE_OAUTH_CLIENT_ID = ""
SECRET_APPLE_OAUTH_CLIENT_SECRET = ""

INTERNAL_GITHUB_OAUTH_CLIENT_ID = ""
SECRET_GITHUB_OAUTH_CLIENT_SECRET = ""

INTERNAL_GOOGLE_OAUTH_CLIENT_ID = ""
SECRET_GOOGLE_OAUTH_CLIENT_SECRET = ""

INTERNAL_MICROSOFT_OAUTH_CLIENT_ID = ""
INTERNAL_MICROSOFT_OAUTH_TENANT_ID = ""
SECRET_MICROSOFT_OAUTH_CLIENT_SECRET = ""

INTERNAL_TWITTER_OAUTH_CLIENT_ID = ""
SECRET_TWITTER_OAUTH_CLIENT_SECRET = ""
