{:min-bb "0.7.0"
 :tasks
 {:requires
  [[babashka.fs :as fs]
   [babashka.process :as bpr]
   [clojure.edn :as edn]
   [clojure.java.io :as io]
   [clojure.string :as str]]
  :init
  (do
    ;; TODO generate $HOME/.npmrc configuration
    ;; TODO run HTTP server for tests
    ;; TODO supply version as argument?
    ;; TODO version increment during releases
    (def web-version "0.0.3")
    (def sdk-root (str (fs/canonicalize "..")))
    (defn env [s] (System/getenv s)))
  ;;:enter
  ;;:leave

  npm:install
  {:doc "Install npm dependencies"
   :task (shell "npm install")}

  build:web
  {:doc "Build a JavaScript web version of the SDK"
   :depends [npm:install]
   :task (shell {:dir sdk-root} "npx shadow-cljs compile web")}

  build:web:test
  {:doc "Build a JavaScript web version of the SDK tests"
   :depends [npm:install]
   :task (shell {:dir sdk-root} "npx shadow-cljs release web-test")}

  ;; TODO
  pack:web
  {:doc "Create an npm package"
   :depends [build:web]
   :task (shell "npm pack")}

  ;; TODO run tests

  ;; TODO
  publish:web
  {:doc "Publish the SDK as an npm package"
   :depends [pack:web]
   :task (let [pack-file (first (fs/glob "." "kubelt-web*.tgz"))]
           (if-not pack-file
             (throw (ex-info "missing npm package.tgz")))
           (shell "npm publish" pack-file))}}}
