@font-face {
  font-family: Inter_400Regular;
  src: url(/fonts/Inter-Regular.ttf)
}

@font-face {
  font-family:Inter_500Medium;src:url(/fonts/Inter-Medium.ttf)
}

@font-face {
  font-family:Inter_600SemiBold;src:url(/fonts/Inter-SemiBold.ttf)
}

@font-face {
  font-family:Inter_700Bold;src:url(/fonts/Inter-Bold.ttf)
}

html {
  -webkit-tap-highlight-color: transparent;
  height: calc(100% + env(safe-area-inset-top));
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
  overscroll-behavior-y: none;
  min-height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f9fafb
}

footer {
  padding: 1em;
  justify-content: center;
  align-items: center;
  margin-top: auto
}

footer p {
  font-family: Inter_400Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #374151
}

div[data-testid=flowbite-tooltip] div {
  font-family: Inter_500Medium
}

.grid-shrink {
  display: grid;
  grid-template-columns: auto minmax(0,1fr);
  grid-template-areas: "shrink expand"
}

@font-face {
  font-family:Inter_400Regular;src:url(/fonts/Inter-Regular.ttf)
}

@font-face {
  font-family:Inter_500Medium;src:url(/fonts/Inter-Medium.ttf)
}

@font-face {
  font-family:Inter_600SemiBold;src:url(/fonts/Inter-SemiBold.ttf)
}

@font-face {
  font-family:Inter_700Bold;src:url(/fonts/Inter-Bold.ttf)
}

.grid-shrink .expand {
  grid-area: expand
}

.grid-shrink .shrink {
  padding-right: 1em;
  grid-area: shrink;
  font-weight: 700
}

.error-screen .wrapper,.wrapper {
  height: 100vh
}

.content,.error-screen .content {
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  flex-grow: 1;
  min-width: 300px
}

.auth-message,.auth-secondary-message,.error-screen .error-message,.error-screen .error-secondary-message {
  font-family: Inter_500Medium;
  font-size: 24px;
  font-weight: 700;
  max-width: 758px;
  text-align: center;
  margin-right: 0;
  color: #1f2937;
  justify-content: center;
  align-items: center
}

.auth-secondary-message,.error-screen .error-secondary-message {
  padding: 1em;
  font-family: Inter_400regular;
  font-size: 18px;
  font-weight: 400
}

.error-screen nav,nav {
  padding: 1em
}

.error-screen nav img,nav img {
  width: 36.56px
}

.connectors {
  justify-content: center;
  align-items: center;
  margin-top: 1em
}

.connectors .grid {
  min-width: 308px
}

.connector,.open-metamask-app {
  justify-content: center;
  width: 100%
}

.connector {
  background-color: #fff;
  margin-top: .5em;
  padding: 1em 2em;
  font-family: Inter_500Medium;
  font-weight: 500;
  border: 1px solid #d1d5db
}

.connector svg {
  float: left;
  margin: 0 1em 0 0
}

.connector[disabled] {
  background: #f3f4f6;
  opacity: .5
}

.open-metamask-app {
  padding: 2em 0 0;
  font-family: Inter_700Bold;
  font-size: 14px;
  font-weight: 700;
  color: #1f2937;
  text-decoration: underline;
  text-align: center
}

.error-buttons a,.error-buttons button {
  margin: 1em .5em;
  text-align: center
}

.card-image {
  max-width: 364px
}

.activate-button {
  margin-top: 1em;
  text-align: center
}