@import "../../styles/variables";

button[class^=base-button], a[class^=base-button] {
    padding: 12px 45px;
    font-family: Inter_500Medium;
    font-weight: 500;
    size: 16px;
    line-height: 24px;
}

.base-button-light {
    background-color: $threeid-light;
    color: $threeid-dark;
}

.base-button-dark {
    background-color: $threeid-dark;
    color: $threeid-light;
}