SECRET_JWK_CURRENT_KID = ''
SECRET_JWKS = '[]'

INTERNAL_DKIM_SELECTOR = ""

INTERNAL_RELAY_DISTRIBUTION_KEY = ""
INTERNAL_RELAY_DKIM_DOMAIN = ""
INTERNAL_RELAY_DKIM_SELECTOR = ""
SECRET_RELAY_DKIM_PRIVATE_KEY = ""

INTERNAL_PASSPORT_SERVICE_NAME = ""

INTERNAL_CLOUDFLARE_ZONE_ID = ""
TOKEN_CLOUDFLARE_API = ""

INTERNAL_APPLE_OAUTH_CLIENT_ID = ""
SECRET_APPLE_OAUTH_CLIENT_SECRET = ""

INTERNAL_GITHUB_OAUTH_CLIENT_ID = ""
SECRET_GITHUB_OAUTH_CLIENT_SECRET = ""

INTERNAL_GOOGLE_OAUTH_CLIENT_ID = ""
SECRET_GOOGLE_OAUTH_CLIENT_SECRET = ""

INTERNAL_MICROSOFT_OAUTH_CLIENT_ID = ""
SECRET_MICROSOFT_OAUTH_CLIENT_SECRET = ""

INTERNAL_TWITTER_OAUTH_CLIENT_ID = ""
SECRET_TWITTER_OAUTH_CLIENT_SECRET = ""

INTERNAL_CLOUDFLARE_ZONE_ID = ""
TOKEN_CLOUDFLARE_API = ""

SECRET_ZERODEV_PROJECTID = ""

SECRET_STRIPE_API_KEY = ""

SECRET_STRIPE_APP_DATA_STORAGE_PRICE_IDS = {"SECRET_STRIPE_APP_DATA_STORAGE_STARTER_PRICE_ID":"","SECRET_STRIPE_APP_DATA_STORAGE_SCALE_PRICE_ID":"","SECRET_STRIPE_APP_DATA_STORAGE_STARTER_TOP_UP_PRICE_ID":"","SECRET_STRIPE_APP_DATA_STORAGE_SCALE_TOP_UP_PRICE_ID":""}