# sdk/sdk/.npmignore

# Clojure tooling cache
/.cpcache

# Babashka tasks
bb.edn

# Packaging-related dependencies
deps.edn

# Node-based tests
test/

# JAR builds
target/

# npm packages
*.tgz

# Maven pom
pom.xml*
