@import url('https://fonts.cdnfonts.com/css/inter');
@import url('https://fonts.cdnfonts.com/css/ibm-plex-mono');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Chrome, Safari and Opera */
.thin-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background-color: white;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 999px;
}

/* IE, Edge and Firefox */

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db white;
}

.font-ibm-plex-mono {
  font-family: 'IBM Plex Mono', Courier, monospace;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
  border-bottom: solid 1px #d1d5db;
  border-right: solid 1px #d1d5db;
  box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);;
}

#popover[data-popper-placement^='top']>#arrow {
  bottom: -4px;
}

#popover[data-popper-placement^='bottom']>#arrow {
  top: -4px;
}

#popover[data-popper-placement^='left']>#arrow {
  right: -4px;
}

#popover[data-popper-placement^='right']>#arrow {
  left: -4px;
}