[data-words] {
  vertical-align: top;
  position: static;
}

[data-words] > span {
  margin-left: 12px;
  display: none;
}

#content-mobile {
  display: none;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  background-color: #111827;
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: underline;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  border-left: 5px solid #e2e2e2;
  font-size: 20px;
  line-height: 34px;
}

figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

figcaption {
  margin-top: 5px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.section {
  margin-right: 30px;
  margin-left: 30px;
  background-color: transparent;
}

.section.cc-cta {
  padding-right: 80px;
  padding-left: 80px;
  background-color: #f4f4f4;
}

.section.cc-store-home-wrap {
  height: 3%;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
}

.section.second {
  /*margin-top: -300px;*/
  padding-top: 0px;
  background-color: #1f2937;
}

.section.second.w {
  border: 1px none #000;
  background-color: #f9fafb;
}

.container {
  position: relative;
  top: 105px;
  width: 100%;
  max-width: 1300px;
  margin: -119px auto 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.container.w {
  margin-top: -200px;
}

.paragraph-tiny {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}

.paragraph-bigger {
  margin-bottom: 10px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-bigger.cc-bigger-light {
  opacity: 0.6;
}

.paragraph-bigger.cc-bigger-white-light {
  padding-bottom: 26px;
  opacity: 0.77;
  font-family: Inter, sans-serif;
  color: #f9fafb;
  line-height: 28px;
  font-weight: 300;
}

.button {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease,
    color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #32343a;
  color: #fff;
}

.button:active {
  background-color: #43464d;
}

.button.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-jumbo-button.cc-jumbo-white {
  padding-top: 14px;
  padding-bottom: 14px;
  border-style: solid;
  border-width: 2px;
  border-color: #9ca3af;
  border-radius: 1px;
  background-color: transparent;
  color: #000;
  -o-object-fit: fill;
  object-fit: fill;
}

.button.cc-jumbo-button.cc-jumbo-white:hover {
  background-color: #f1f1f1;
}

.button.cc-jumbo-button.cc-jumbo-white:active {
  background-color: #e1e1e1;
}

.button.cc-jumbo-button.cc-jumbo-white.active {
  margin-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-color: #4f46e5;
}

.button.cc-jumbo-button.cc-jumbo-white.active:hover {
  background-color: #000;
}

.button.cc-jumbo-button.cc-jumbo-white.active._55 {
  background-color: #818cf8;
}

.button.cc-jumbo-button.cc-jumbo-white.active._55.xxxx {
  margin-top: 20px;
  border-width: 0px;
  background-color: #fff;
}

.button.cc-jumbo-button.cc-jumbo-white.active._55.xxxx:hover {
  background-color: #e5e7eb;
}

.button.cc-jumbo-button.cc-jumbo-white.active._55.w {
  background-color: #4f46e5;
}

.button.cc-jumbo-button.cc-jumbo-white.active.b {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-color: #818cf8;
  text-align: center;
}

.button.cc-jumbo-button.cc-jumbo-white.active.b:hover {
  background-color: hsla(0, 0%, 100%, 0.05);
}

.button.cc-jumbo-button.cc-jumbo-white.second {
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-color: transparent;
  border-radius: 2px;
  background-color: #4f46e5;
}

.button.cc-jumbo-button.cc-jumbo-white.second:hover {
  background-color: #000;
}

.button.cc-jumbo-button.cc-jumbo-white.second.ddd {
  background-color: transparent;
}

.button.cc-jumbo-button.cc-jumbo-white.second.ddd.w {
  border-color: #4f46e5;
}

.button.cc-jumbo-button.cc-jumbo-white.second.ddd.b {
  display: block;
  margin-left: 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-color: #818cf8;
  opacity: 1;
}

.button.cc-jumbo-button.cc-jumbo-white.second.ddd.b:hover {
  background-color: hsla(0, 0%, 100%, 0.05);
}

.button.cc-jumbo-button.cc-jumbo-white.second.bff {
  background-color: #818cf8;
}

.button.cc-jumbo-button.cc-jumbo-white.second.bff:hover {
  background-color: #4f46e5;
}

.button.cc-contact-us {
  position: relative;
  z-index: 5;
  padding: 10px 20px;
  background-color: #4f46e5;
}

.button.cc-contact-us.grey {
  margin-right: 20px;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #eef2ff;
  color: #eef2ff;
}

.button.cc-contact-us.grey.ttt {
  background-color: #1f2937;
}

.button.cc-contact-us.b {
  background-color: #818cf8;
}

.button.cc-contact-us.b.dd {
  background-color: #4f46e5;
}

.button.cc-white-button {
  padding: 16px 35px;
  background-color: #fff;
  color: #202020;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.button.cc-white-button:active {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.label.cc-blog-date {
  margin-top: 20px;
  opacity: 0.6;
}

.rich-text {
  width: 70%;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.rich-text p {
  margin-top: 15px;
  margin-bottom: 25px;
  opacity: 0.6;
}

.heading-jumbo {
  width: 100%;
  max-width: 750px;
  margin: 10px auto;
  font-family: Manrope, sans-serif;
  color: #e5e7eb;
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
  letter-spacing: -2.5px;
  text-transform: none;
}

.heading-jumbo-small {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  text-transform: none;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.menu {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0%;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.navigation-item {
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 0.6;
  font-family: Inter, sans-serif;
  color: #4b5563;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: capitalize;
}

.navigation-item:hover {
  opacity: 0.9;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.navigation-item.w.w--current {
  color: #4b5563;
  font-weight: 400;
}

.navigation-item.w.w--current:focus {
  color: #9ca3af;
}

.navigation-item.black {
  color: #fff;
}

.navigation-item.black.w {
  color: #4b5563;
}

.navigation-item.b {
  color: #fff;
}

.navigation-item.b.c {
  color: #4b5563;
}

.navigation-item.b.s {
  color: #4b5563;
}

.navigation-item.b.w {
  color: #4b5563;
}

.logo-image {
  display: block;
}

.logo-image.black {
  margin-top: 0px;
  padding-top: 0px;
  padding-right: 40px;
  -o-object-fit: fill;
  object-fit: fill;
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.webflow-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  text-decoration: none;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: 0.8;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.cta-text {
  width: 70%;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
}

.cta-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 110px;
  padding-bottom: 120px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.intro-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 112px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  color: #fff;
}

.intro-content {
  width: 70%;
  max-width: 1140px;
  text-align: center;
}

.intro-content.cc-homepage {
  max-width: 1200px;
  margin-bottom: 200px;
}

.status-message {
  padding: 9px 30px;
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.text-field {
  margin-bottom: 18px;
  padding: 21px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-size: 14px;
  line-height: 26px;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active {
  border-color: #43464d;
}

.text-field:focus {
  border-color: #43464d;
}

.text-field::-webkit-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field:-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.blog-detail-header-wrap {
  width: 70%;
  margin: 60px auto;
}

.detail-header-image {
  display: block;
  width: 100%;
  height: 620px;
  margin-bottom: 60px;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
  background-position: 0px 0px;
  background-size: cover;
}

.detail-header-image.w--current {
  margin-bottom: 60px;
}

.protected-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.protected-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.protected-heading {
  margin-bottom: 30px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

._404-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1a1b1f;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.intro-text {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
}

.space {
  height: 150px;
  margin-top: 0px;
  margin-bottom: -200px;
  background-color: #1f2937;
  background-image: url("../images/Group-48095730.svg");
  background-size: auto;
  color: #fff;
  text-align: center;
}

.space.second {
  height: 1px;
  margin-bottom: 0px;
  border: 1px none #000;
}

.space.second.w {
  border-color: #fff;
  background-color: #fff;
}

.text-block {
  font-family: Inter, sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  text-transform: capitalize;
}

.text-block._33 {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.text-block._33.d {
  color: #4f46e5;
}

.text-span {
  color: #818cf8;
}

.text-block-2 {
  font-family: Inter, sans-serif;
  color: #3730a3;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: capitalize;
}

.text-block-2.ss {
  color: #4f46e5;
}

.text-block-2.ss.b {
  color: #9ca3af;
}

.text-block-2.ss.w {
  color: #fff;
}

.text-block-3 {
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0px;
  text-transform: capitalize;
}

.text-block-3.w {
  color: #4f46e5;
  font-weight: 500;
}

.text-block-3.b {
  display: inline-block;
  color: #fff;
  line-height: 26px;
}

.image {
  display: block;
  margin-left: auto;
  float: left;
}

.ratingtext {
  padding-left: 10px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 14px;
}

.text-span-2 {
  color: #9ca3af;
}

.text-span-3 {
  color: #818cf8;
}

.div-block {
  margin-right: auto;
  margin-left: auto;
}

.div-block.butt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-2 {
  position: static;
  margin: 100px auto 0px;
  background-color: transparent;
  color: #4f4f4f;
}

.wraper {
  position: relative;
  margin: 0px 5% 112px;
  padding-top: 0px;
}

.heading {
  margin-top: 0px;
  font-family: Inter, sans-serif;
  color: #818cf8;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.heading.w {
  color: #4f46e5;
}

.heading-2 {
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  color: #f9fafb;
  line-height: 30px;
  font-weight: 800;
}

.text-block-5 {
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  color: #d1d5db;
  font-size: 18px;
  line-height: 30px;
}

.text-block-5.w {
  color: #4b5563;
}

.grid {
  grid-column-gap: 16px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: Inter, sans-serif;
  color: #f9fafb;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.heading-3.w {
  color: #374151;
}

.text-block-6 {
  color: #d1d5db;
  line-height: 24px;
}

.text-block-6.w {
  color: #4b5563;
}

.div-block-3 {
  padding-right: 2%;
  padding-left: 2%;
  text-align: left;
}

.div-block-4 {
  padding-right: 2%;
  padding-left: 2%;
}

.div-block-5 {
  padding-right: 2%;
  padding-left: 2%;
}

.columns {
  position: relative;
  top: 44px;
  margin-bottom: 0px;
  padding-bottom: 80px;
}

.users {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

.nextwraper {
  width: 100%;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 64px 64px 100px;
}

.heading-4 {
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  color: #f9fafb;
  font-size: 36px;
  line-height: 40px;
  font-weight: 800;
}

.heading-4.w {
  color: #374151;
}

.text-block-7 {
  margin-bottom: 30px;
  color: #d1d5db;
  font-size: 18px;
}

.text-block-7.w {
  color: #374151;
}

.grid-2 {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.div-block-6 {
  background-color: #1f2937;
}

.div-block-6.w {
  background-color: #f9fafb;
}

.image-3 {
  padding: 32px 60px;
}

.image-3.ff {
  padding-top: 32px;
  padding-right: 60px;
  padding-left: 60px;
}

.forwraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.columns-2 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.bluesection {
  background-color: #3730a3;
}

.bluesection.footer {
  background-color: transparent;
}

.div-block-7 {
  max-width: 1170px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.image-4 {
  position: static;
  width: 9%;
  float: left;
}

.image-4.globe {
  width: 20%;
  height: auto;
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0%;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 45px;
  font-weight: 800;
}

.div-block-8 {
  padding-left: 30%;
}

.text-block-8 {
  margin-top: 20px;
  color: #c7d2fe;
  font-size: 18px;
  line-height: 24px;
}

.div-block-9 {
  padding-top: 64px;
}

.footerwraper {
  width: auto;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10%;
  padding-left: 10%;
}

.grid-3 {
  margin-bottom: 64px;
  grid-template-areas: ". Area . . Area-2";
  -ms-grid-columns: 2.5fr 0.5fr 1fr 1fr 1fr;
  grid-template-columns: 2.5fr 0.5fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.paragraph {
  margin-top: 32px;
  color: #d1d5db;
  line-height: 24px;
}

.paragraph.w {
  color: #6b7280;
}

.link {
  margin-bottom: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: Inter, sans-serif;
  color: #727374;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.link-2 {
  margin-bottom: 18px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #d1d5db;
  text-decoration: none;
}

.link-2:hover {
  color: #9da1a5;
}

.link-2.w {
  color: #6b7280;
}

.div-block-10 {
  padding-right: 35px;
}

.copirating {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10%;
  padding-left: 10%;
  border: 1px none #000;
}

.paragraph-2 {
  margin-top: 32px;
  margin-bottom: 0px;
  padding-bottom: 64px;
  font-family: Inter, sans-serif;
  color: #d1d5db;
  text-align: center;
}

.paragraph-2.w {
  color: #9ca3af;
}

.lunkswraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1px;
  padding-bottom: 58px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.lunkswraper.footer {
  display: block;
  margin-top: 16px;
  padding-bottom: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.image-5 {
  margin-right: 24px;
  float: left;
}

.image-6 {
  margin-right: 24px;
  float: left;
}

.div-block-11 {
  height: 1px;
  background-color: rgba(221, 221, 221, 0.8);
  color: #f9fafb;
}

.taps-content {
  position: static;
  max-width: 1170px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

.taps-content.hode {
  display: none;
}

.fotstars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 360px;
  margin-top: 58px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.hero {
  background-image: none;
  background-size: auto;
}

.codingwraper {
  position: relative;
  z-index: 1;
  overflow: visible;
  width: 870px;
  height: 100%;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
  padding: 14px 28px 20px;
  float: none;
  border-style: solid;
  border-width: 1px;
  border-color: #4b5563;
  background-color: #111827;
  color: #ea580c;
  -o-object-fit: fill;
  object-fit: fill;
}

.codingwraper.white {
  border-color: #b0b2b6;
  background-color: #fff;
}

.heading-6 {
  font-family: Inter, sans-serif;
  color: #f9fafb;
  font-weight: 600;
}

.heading-6.white {
  color: #4f4f4f;
}

.tab-link-tab-1 {
  padding-right: 62px;
  padding-left: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #4b5563;
  background-color: #1f2937;
  color: #111827;
}

.tab-link-tab-1.w--current {
  padding-right: 62px;
  background-color: #1f2937;
}

.tab-link-tab-1.w--current:hover {
  padding-right: 20px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #4b5563;
  font-family: Inter, sans-serif;
  color: #f9fafb;
  font-size: 12px;
  font-weight: 600;
}

.tab-link-tab-1.current {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #1f2937;
}

.tab-link-tab-1.current.whiye.w--current {
  border-style: solid;
  border-color: #e5e7eb;
  background-color: #fff;
  color: transparent;
}

.tab-link-tab-1.current.whiye.w--current:hover {
  background-color: #d2d6e3;
  color: #d1d5db;
}

.tab-link-tab-1.current.whiye.w--current:focus {
  color: #d2d6e3;
}

.tabs-menu {
  background-color: transparent;
  cursor: default;
}

.tab-link-tab-2 {
  padding-right: 20px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #4b5563;
  background-color: #111827;
}

.tab-link-tab-2.w--current {
  background-color: #1f2937;
  color: #111827;
}

.tab-link-tab-2.w--current:hover {
  background-color: #111827;
}

.tab-link-tab-2.w {
  border-color: #e5e7eb;
  background-color: #fff;
}

.tab-link-tab-2.w:hover {
  color: #9ca3af;
}

.tab-link-tab-2.w:focus-visible {
  color: #d2d6e3;
}

.tab-link-tab-2.w[data-wf-focus-visible] {
  color: #d2d6e3;
}

.tab-link-tab-2.w.current {
  background-color: #fff;
}

.tab-link-tab-2.w.current:hover {
  background-color: #d2d6e3;
  color: #d2d6e3;
}

.tab-link-tab-2.w.current:active {
  color: #d2d6e3;
}

.tab-text {
  font-family: Inter, sans-serif;
  color: #f9fafb;
  font-size: 12px;
  font-weight: 600;
}

.tab-text.w {
  color: #4f4f4f;
}

.tab-text.chnage-color {
  color: #6b7280;
}

.tab-link-tab-3 {
  padding-right: 20px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #4b5563;
  background-color: #111827;
}

.tab-link-tab-3:active {
  background-color: #1f2937;
}

.tab-link-tab-3.w--current {
  background-color: #111827;
}

.tab-link-tab-3.ssss {
  margin-left: 16px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 10px;
  border-color: #4b5563;
  background-color: #111827;
}

.tab-link-tab-3.ssss.ss {
  border-color: #e5e7eb;
  background-color: #fff;
}

.tab-link-tab-3.w {
  border-color: #e5e7eb;
  background-color: #fff;
}

.tab-link-tab-3.w:hover {
  background-color: #d2d6e3;
}

.text-block-10 {
  font-family: Inter, sans-serif;
  color: #f9fafb;
  font-size: 12px;
  font-weight: 600;
}

.text-block-10.w {
  color: #4f4f4f;
}

.tap-name {
  border-style: none;
  border-width: 1px;
  border-color: #e5e7eb;
  font-family: Inter, sans-serif;
  color: #f9fafb;
  font-size: 12px;
  font-weight: 600;
}

.tap-name.w {
  color: #4f4f4f;
}

.tab-pane-tab-1 {
  border-style: solid;
  border-width: 1px;
  border-color: #4b5563;
  background-color: #1f2937;
}

.tab-pane-tab-1.w {
  border-color: #e5e7eb;
}

.paragraph-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 38px;
  padding-left: 38px;
  border-bottom: 1px solid #4b5563;
  background-color: #1f2937;
  font-family: "Fira Code", sans-serif;
  color: #818cf8;
  font-weight: 700;
}

.paragraph-3.ddd {
  border: 1px none #000;
  background-color: #1f2937;
}

.paragraph-3.ddd.w {
  color: #4f46e5;
}

.paragraph-3.w {
  border-style: solid;
  border-width: 1px;
  border-color: #e5e7eb;
  background-color: #f3f4f6;
}

.bold-text {
  font-weight: 400;
}

.bold-text.w {
  color: #4f46e5;
}

.text-span-4 {
  color: #8e8e8e;
}

.text-span-5 {
  color: #8e8e8e;
}

.text-span-6 {
  color: #8e8e8e;
}

.text-span-7 {
  color: #ea580c;
}

.text-span-8 {
  color: #8e8e8e;
}

.text-span-9 {
  color: #ea580c;
}

.text-span-10 {
  color: #8e8e8e;
}

.text-block-12 {
  font-family: Inter, sans-serif;
  color: #f9fafb;
  font-size: 12px;
  font-weight: 600;
}

.text-block-12.w {
  color: #4f4f4f;
}

.tab-link-tab-3-2 {
  padding-right: 20px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #4b5563;
  background-color: #111827;
}

.tab-link-tab-3-2.w--current {
  background-color: #111827;
}

.tab-link-tab-3-2.w {
  border-color: #e5e7eb;
  background-color: #fff;
}

.tab-link-tab-3-2.w:hover {
  background-color: #d2d6e3;
}

.text-block-15 {
  font-family: Inter, sans-serif;
  color: #6b7280;
  font-size: 12px;
  font-weight: 600;
}

.tab-link-tab-3-3 {
  padding-right: 54px;
  padding-left: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #4b5563;
  background-color: #111827;
  color: transparent;
}

.tab-link-tab-3-3:hover {
  background-color: #1f2937;
}

.tab-link-tab-3-3.w--current {
  background-color: #111827;
}

.tab-link-tab-3-3.w {
  border-color: #e5e7eb;
  background-color: #fff;
}

.tabs-content {
  margin-top: 48px;
}

.tabcontent {
  background-color: #1f2937;
}

.tab-pane-tab-2 {
  border-style: solid;
  border-width: 1px;
  border-color: #4b5563;
  background-color: #111827;
}

.heading-7 {
  margin-top: 0px;
  font-family: Inter, sans-serif;
  color: #f9fafb;
  font-size: 14px;
  font-weight: 700;
}

.heading-7.w {
  color: #414141;
}

.text-block-16 {
  font-family: Inter, sans-serif;
  color: #d1d5db;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.text-block-16.w {
  color: #4b5563;
}

.hero-card {
  padding-top: 18px;
  padding-bottom: 26px;
  padding-left: 18px;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
  border-color: #4b5563;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease,
    -webkit-transform 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease,
    -webkit-transform 400ms ease;
  transition: background-color 400ms ease, transform 400ms ease,
    opacity 400ms ease;
  transition: background-color 400ms ease, transform 400ms ease,
    opacity 400ms ease, -webkit-transform 400ms ease;
}

.hero-card:hover {
  background-color: #1f2937;
}

.hero-card.w {
  border-color: #e5e7eb;
}

.hero-card.closing {
  border-right-width: 1px;
}

.columns-3 {
  margin-top: 20px;
}

.div-block-16 {
  background-color: #111827;
}

.div-block-16.white {
  background-color: transparent;
}

.bodywhite {
  background-color: #fff;
}

.text-span-11 {
  color: #4f46e5;
}

.text-span-12 {
  color: #000;
}

.text-span-13 {
  color: #4f46e5;
}

.div-block-17 {
  height: 300px;
  background-image: url("../images/Group-48095730_1.svg");
  background-position: 50% 55%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-18 {
  height: 300px;
  background-image: url("../images/Group-48095730_1.svg");
  background-position: 100% 0%;
  background-size: cover;
}

.tap-bg {
  position: absolute;
  left: -7%;
  top: -16%;
  right: auto;
  bottom: auto;
  width: 35%;
  margin-top: 493px;
  margin-left: 99px;
  padding-left: 0px;
}

.tap-bg.lightmode {
  opacity: 0;
}

.tab-icons {
  margin-left: 31.4px;
}

.tab-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.tab-link {
  padding-right: 20px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #4b5563;
  background-color: #111827;
  cursor: auto;
  margin-left: -5px;
}

.tab-link:hover {
  background-color: rgba(31, 41, 55, 0.6);
}

.tab-link.w--current {
  background-color: #1f2937;
}

.tab-link.lesspadding {
  margin-left: 16px;
  padding: 12px 20px 10px;
}

.tab-link.add-padding {
  padding-right: 54px;
  padding-left: 16px;
}

.tab-link.add-padding.disabled {
  cursor: auto;
}

.tab-link.add-padding.disabled:hover {
  background-color: #111827;
}

.tab-link.white {
  background-color: #fff;
}

.tab-link.white.w--current {
  background-color: #e5e7eb;
}

.intro-text-bg-img {
  position: absolute;
  left: 84%;
  top: -11%;
  right: 0%;
  bottom: auto;
}

.intro-heading {
  position: relative;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.page-wrapper {
  overflow: hidden;
}

.column-4 {
  padding-right: 0px;
  padding-left: 0px;
}

.mode-switcher {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 28px;
  height: 32px;
  margin-right: 11px;
  margin-left: 20px;
  padding-top: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: transparent;
}

.image-7 {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #111827;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.image-8 {
  position: absolute;
}

.div-block-20 {
  position: relative;
  z-index: 1;
  background-color: #111827;
}

.heading-8 {
  margin-bottom: 16px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
}

.tabs {
  cursor: default;
}

.heading-9 {
  margin-bottom: 28px;
  font-family: Inter, sans-serif;
  color: #fff;
  text-align: center;
}

.div-block-21 {
  text-align: center;
}

.div-block-22 {
  text-align: left;
}

.image-10 {
  display: inline-block;
  margin-right: 7px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.link-block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-11 {
  text-align: center;
}

.columns-4 {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.column-5 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.column-6 {
  display: block;
  text-align: center;
}

.column-7 {
  text-align: left;
}

.text-block-17 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1f2937;
  color: #fff;
  text-align: center;
}

.grid-4 {
  padding-top: 10px;
  padding-bottom: 10px;
  justify-items: center;
  grid-template-areas:
    "Area Area-2"
    "Area-3 Area-4";
}

.image-12 {
  text-align: center;
}

.link-3 {
  color: #9ca3af;
}

@media screen and (min-width: 1920px) {
  .section.cc-store-home-wrap {
    background-image: none;
  }

  .button.cc-jumbo-button.cc-jumbo-white.active.b:hover {
    border-color: #818cf8;
    background-color: rgba(156, 163, 175, 0.1);
    color: #818cf8;
  }

  .button.cc-jumbo-button.cc-jumbo-white.second.ddd.b {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .button.cc-jumbo-button.cc-jumbo-white.second.bff:hover {
    background-color: #4f46e5;
  }

  .navigation-wrap {
    padding-right: 10%;
    padding-left: 10%;
  }

  .text-block-2.ss.b {
    color: #818cf8;
  }

  .text-block-2.ss.b:hover {
    color: #818cf8;
  }

  .text-block-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .text-block-3.b {
    display: block;
  }

  .grid {
    -ms-grid-rows: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
  }

  .image-3 {
    display: block;
    overflow: visible;
    background-color: transparent;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .image-4 {
    height: auto;
  }

  .image-4.globe {
    width: 20%;
  }

  .hero {
    background-position: 0% 0%;
    background-size: auto 2000px;
    background-repeat: repeat;
  }

  .tap-bg {
    width: 30%;
    margin-top: 532px;
    margin-left: 387px;
    padding-left: 0px;
  }

  .page-wrapper {
    background-color: #111827;
  }

  .mode-switcher {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 24px;
    margin-left: 20px;
    padding-top: 0px;
  }

  .button-2 {
    position: static;
    clear: none;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .div-block-22 {
    text-align: left;
  }

  .image-9 {
    position: relative;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
}

@media screen and (max-width: 991px) {
  .section.cc-cta {
    padding-right: 0px;
    padding-left: 0px;
  }

  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .button.cc-jumbo-button.cc-jumbo-white.active._55.xxxx {
    margin-left: 12px;
  }

  .button.cc-jumbo-button.cc-jumbo-white.second.bff {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .button.cc-contact-us {
    display: none;
  }

  .heading-jumbo {
    font-size: 50px;
    line-height: 50px;
  }

  .logo-link.w--current {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: transparent;
  }

  .menu-icon {
    position: relative;
    left: -11px;
    display: block;
    width: 35px;
    margin-right: 0px;
    margin-left: 0px;
    color: #fff;
    font-size: 25px;
  }

  .menu {
    position: static;
    margin-left: 30px;
  }

  .navigation-wrap {
    padding-right: 0%;
    padding-left: 0%;
    background-color: transparent;
  }

  .navigation {
    padding: 25px 30px;
  }

  .navigation-item {
    padding: 15px 30px;
    background-color: #1623a2;
    -webkit-transition: background-color 400ms ease;
    transition: background-color 400ms ease;
    color: #f9fafb;
    text-align: center;
  }

  .navigation-item:hover {
    background-color: #f7f8f9;
  }

  .navigation-item:active {
    background-color: #eef0f3;
  }

  .navigation-item.w {
    background-color: #7181d5;
  }

  .navigation-item.black {
    background-color: #080c14;
  }

  .navigation-item.b {
    background-color: #080c14;
  }

  .menu-button {
    padding: 0px;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .navigation-items {
    background-color: #121927;
  }

  .cta-text {
    width: auto;
  }

  .cta-wrap {
    width: auto;
    padding: 80px 50px 90px;
  }

  .blog-detail-header-wrap {
    width: 70%;
  }

  .detail-header-image {
    height: 460px;
  }

  .intro-text {
    width: auto;
  }

  .div-block.butt {
    display: inline-block;
    width: 254%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .wraper {
    padding-top: 0px;
  }

  .heading {
    line-height: 18px;
  }

  .text-block-5 {
    font-size: 16px;
    line-height: 22px;
  }

  .grid {
    grid-column-gap: 16px;
    grid-row-gap: 20px;
  }

  .heading-3 {
    margin-bottom: 6px;
  }

  .text-block-6 {
    font-size: 14px;
    line-height: 20px;
  }

  .nextwraper {
    margin-top: 20px;
  }

  .heading-4 {
    width: 600px;
    font-size: 32px;
  }

  .text-block-7 {
    display: block;
    width: 210%;
    font-size: 16px;
    line-height: 25px;
  }

  .forwraper {
    width: 200%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .columns-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image-4 {
    margin-left: 5%;
  }

  .image-4.globe {
    margin-right: 16px;
  }

  .heading-5 {
    font-size: 32px;
    line-height: 35px;
  }

  .div-block-8 {
    padding-left: 25%;
  }

  .text-block-8 {
    width: 80%;
    font-size: 16px;
  }

  .footerwraper {
    padding-right: 5%;
    padding-left: 5%;
  }

  .paragraph {
    font-size: 14px;
    line-height: 18px;
  }

  .link-2 {
    margin-bottom: 8px;
  }

  .copirating {
    padding-right: 5%;
    padding-left: 5%;
  }

  .paragraph-2 {
    font-size: 13px;
  }

  .image-5 {
    margin-right: 10px;
  }

  .image-6 {
    margin-right: 10px;
  }

  .codingwraper {
    width: 710px;
    margin-bottom: 43px;
  }

  .tab-link-tab-1.w--current {
    padding-right: 35px;
  }

  .tab-link-tab-2 {
    padding-right: 50px;
  }

  .tab-link-tab-3 {
    padding-right: 35px;
  }

  .tab-link-tab-3.ssss {
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .tab-link-tab-3-2 {
    padding-right: 40px;
  }

  .tab-link-tab-3-3 {
    padding-right: 25px;
  }

  .column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .column-2 {
    margin-top: 39px;
  }

  .div-block-17 {
    height: 350px;
  }

  .div-block-18 {
    background-image: url("../images/Group-48095730_1.svg");
    background-position: 100% 30%;
    background-size: cover;
  }

  .tap-bg {
    width: 50%;
    margin-top: 582px;
    margin-left: -106px;
  }

  .tab-link.lesspadding {
    margin-left: 44px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .tab-link.add-padding {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .section {
    margin-right: 15px;
    margin-left: 15px;
  }

  .section.cc-cta {
    padding: 15px;
  }

  .section.cc-store-home-wrap {
    margin-right: 15px;
    margin-left: 15px;
  }

  .container {
    text-align: center;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .rich-text {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }

  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }

  .heading-jumbo-small {
    font-size: 30px;
    line-height: 52px;
  }

  .logo-link {
    padding-left: 0px;
  }

  .menu-icon {
    left: -2px;
    width: 30px;
  }

  .navigation-wrap {
    padding-right: 0%;
    padding-left: 0%;
  }

  .navigation {
    padding: 20px 30px;
  }

  .navigation-item {
    -webkit-transition: background-color 400ms ease, opacity 400ms ease,
      color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease,
      color 400ms ease;
  }

  .navigation-item.black {
    background-color: #080c14;
  }

  .navigation-items {
    background-color: #121927;
  }

  .cta-wrap {
    padding-right: 30px;
    padding-left: 30px;
  }

  .intro-content {
    width: 80%;
  }

  .blog-detail-header-wrap {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }

  .utility-page-wrap {
    padding: 15px;
  }

  ._404-wrap {
    padding: 30px;
  }

  .div-block.butt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
  }

  .heading-3 {
    text-align: left;
  }

  .text-block-6 {
    text-align: left;
  }

  .div-block-5 {
    margin-top: 70px;
  }

  .nextwraper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .heading-4 {
    width: 400px;
  }

  .text-block-7 {
    width: 400px;
  }

  .grid-2 {
    justify-items: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .image-3 {
    padding-right: 60px;
    padding-left: 60px;
  }

  .image-3.ff {
    padding-right: 40px;
    padding-left: 40px;
  }

  .forwraper {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .columns-2 {
    width: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-4 {
    margin-left: 3%;
  }

  .div-block-8 {
    padding-left: 30%;
  }

  .grid-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: minmax(269px, 2.75fr);
    grid-template-rows: minmax(269px, 2.75fr);
  }

  .link {
    margin-bottom: 10px;
  }

  .link-2 {
    margin-bottom: 4px;
    font-size: 14px;
  }

  .codingwraper {
    width: 550px;
  }

  .column {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .div-block-15 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .div-block-17 {
    height: 300px;
  }

  .tap-bg {
    display: none;
    width: 100%;
    margin-top: 745px;
    margin-left: 37px;
  }

  .tab-link {
    padding-right: 10px;
    padding-left: 10px;
  }

  .tab-link.lesspadding {
    margin-top: 8px;
    margin-left: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .intro-text-bg-img {
    top: 30%;
  }
}

@media screen and (max-width: 479px) {
  .whitepaper {
    margin-top: 12px;
  }
  [data-words] {
    display: none;
    vertical-align: top;
    margin-left: 7px;
  }

  #content {
    vertical-align: top;
    display: none;
  }

  #content-mobile {
    vertical-align: top;
    display: block;
  }

  h1 {
    font-size: 36px;
    line-height: 52px;
  }

  .button.cc-jumbo-button.cc-jumbo-white.active {
    margin-right: 0px;
    margin-bottom: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
  }

  .button.cc-jumbo-button.cc-jumbo-white.active.b {
    margin-top: -27px;
  }

  .button.cc-jumbo-button.cc-jumbo-white.second {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .button.cc-jumbo-button.cc-jumbo-white.second.ddd.b {
    margin-top: 8px;
    margin-left: 0px;
  }

  .button.cc-jumbo-button.cc-jumbo-white.second.bff {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .rich-text {
    width: 100%;
    max-width: none;
  }

  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }

  .menu-icon {
    left: 6px;
    width: 25px;
  }

  .menu {
    margin-left: 15px;
  }

  .navigation-wrap {
    padding-right: 0%;
    padding-left: 0%;
  }

  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }

  .navigation-item.black {
    background-color: #080c14;
  }

  .navigation-item.b {
    background-color: #080c14;
  }

  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .navigation-items {
    background-color: #121927;
  }

  .cta-wrap {
    padding-right: 15px;
    padding-left: 15px;
  }

  .intro-header {
    margin-top: 65px;
  }

  .intro-content.cc-homepage {
    width: 100%;
  }

  .blog-detail-header-wrap {
    width: 100%;
    max-width: none;
  }

  .text-span {
    font-size: 24px;
    line-height: 100%;
    letter-spacing: normal;
  }

  .image {
    width: 25%;
  }

  .ratingtext {
    font-size: 12px;
    line-height: 22px;
  }

  .div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block.butt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .div-block-2 {
    margin-top: 60px;
  }

  .nextwraper {
    padding-right: 10px;
    padding-left: 10px;
  }

  .heading-4 {
    width: 270px;
  }

  .text-block-7 {
    width: 270px;
  }

  .grid-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image-3 {
    padding: 20px 65px;
  }

  .image-3.ff {
    padding: 20px 45px;
  }

  .forwraper {
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-4 {
    display: none;
  }

  .image-4.globe {
    display: none;
    width: 25%;
  }

  .div-block-8 {
    padding-right: 5%;
    padding-left: 5%;
  }

  .fotstars {
    position: relative;
    z-index: 1;
    margin-top: 57px;
    padding-right: 5%;
    padding-left: 2%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .codingwraper {
    width: 300px;
  }

  .paragraph-3 {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 22px;
  }

  .hero-card {
    border-right-width: 1px;
    border-bottom-width: 0px;
  }

  .hero-card.closing.closing-mobile {
    border-bottom-width: 1px;
  }

  .column {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-15 {
    width: 270px;
  }

  .div-block-17 {
    background-size: cover;
  }

  .tap-bg {
    left: -44%;
    top: -2%;
    width: 100%;
    margin-top: 569px;
  }

  .tab-icons {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .tab-item {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .tab-item.github {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .tab-link.lesspadding {
    margin-left: 0px;
  }

  .tab-link.add-padding {
    display: none;
  }

  .intro-text-bg-img {
    left: 79%;
    margin-top: -80px;
  }
}

#w-node-f6dbd417-bc1c-6bb9-ed91-160809336569-ddcae6f4 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9fdf0bc5-e30f-8b62-c20d-b5665879f865-ddcae6f4 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: Area-2;
}

.grid-4 > #w-node-_9fdf0bc5-e30f-8b62-c20d-b5665879f865-ddcae6f4 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

#w-node-f890fe06-cd0e-052d-de89-b5014e76011f-ddcae6f4 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d5939a45-2e4b-135c-76c0-c13f17d91bc3-ddcae6f4 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_354b7aeb-2652-d59a-a509-4a4784836f0d-ddcae6f4 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a830f68e-c517-4e1a-0658-1ebac89d3788-ddcae6f4 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_91daa843-2603-398d-7143-51695affad06-ddcae6f4 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f58df157-0299-64bd-23ca-5b5d0a0228c8-ddcae6f4 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cdfce8ee-85b6-fca2-3fd8-9d41c45d5fca-ddcae6f4 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f801941e-25a2-517c-6119-34a6e3658fb0-ddcae6f4 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ced23e2a-e3e1-6a40-58c2-ee03a104e335-ddcae6f4 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ef835ab7-1bf5-5970-30d5-a7af5cee38dc-ddcae6f4 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4287c7a7-5b01-5306-d265-14e9e892d85f-ddcae6f4 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ef8febf0-4ae9-c291-f476-ced96f76a1ca-ddcae6f4 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c0a5db12-03bf-aa81-128c-28f09147ae11-ddcae6f4 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c0a5db12-03bf-aa81-128c-28f09147ae14-ddcae6f4 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fb9c40d5-335f-dd81-7ed5-e85bfc922ab9-ddcae6f4 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (min-width: 1920px) {
  #w-node-_354b7aeb-2652-d59a-a509-4a4784836f0d-ddcae6f4 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}
