<div class="bluesection wf-section">
  <div class="div-block-7">
    <div class="w-clearfix">
      <img src="images/07.svg" loading="lazy" height="120" alt="" class="image-4 globe" />
      <div class="div-block-8">
        <h1 class="heading-5">
          Stop paying the cloud tax.<br />‍Start using Kubelt today.
        </h1>
        <div class="text-block-8">
          Get early access to the Kubelt docs and platform.
        </div>
        <br />
        <a href="https://omq1ez0wxhd.typeform.com/to/IXfcN3Xf" target="_blank"
          class="whitepaper button cc-jumbo-button cc-jumbo-white second bff w-inline-block">
          <div class="text-block-3">Get Access</div>
        </a>
      </div>
    </div>
  </div>
</div>
