<div class="section second">
  <div class="container">
    <div class="wraper">
      <div class="columns w-row">
        <div class="w-col w-col-4">
          <div class="div-block-3">
            <h6 class="heading">content is everything</h6>
            <h3 class="heading-2">
              Discover a better way of building applications.
            </h3>
            <div class="text-block-5">
              Kubelt is bringing an intuitive application development
              experience with a modern approach.
            </div>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="div-block-4">
            <div class="w-layout-grid grid">
              <div class="xxx w-row">
                <div class="column-3 w-col w-col-1">
                  <img src="images/Check.svg" loading="lazy" width="24" height="24" alt="" />
                </div>
                <div class="w-col w-col-11">
                  <h4 class="heading-3">Content Management</h4>
                  <div class="text-block-6">
                    Use your favorite content publishing tools.
                  </div>
                </div>
              </div>
              <div class="xxx w-row">
                <div class="w-col w-col-1">
                  <img src="images/Check.svg" loading="lazy" width="24" height="24" alt="" />
                </div>
                <div class="w-col w-col-11">
                  <h4 class="heading-3">Content Routing</h4>
                  <div class="text-block-6">
                    Leverage IPFS peer-to-peer content delivery.
                  </div>
                </div>
              </div>
              <div class="xxx w-row">
                <div class="w-col w-col-1">
                  <img src="images/Check.svg" loading="lazy" width="24" height="24" alt="" />
                </div>
                <div class="w-col w-col-11">
                  <h4 class="heading-3">User Centric</h4>
                  <div class="text-block-6">
                    Zero-knowledge local-first dApps with wallet aware
                    access.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="boxes w-col w-col-4">
          <div class="div-block-5">
            <div class="w-layout-grid grid">
              <div class="xxx non w-row">
                <div class="w-col w-col-1">
                  <img src="images/X.svg" loading="lazy" width="24" height="24" alt="" />
                </div>
                <div class="w-col w-col-11">
                  <h4 class="heading-3">Storage Management</h4>
                  <div class="text-block-6">
                    No more storage, pinning, and integration headaches.
                  </div>
                </div>
              </div>
              <div class="xxx non w-row">
                <div class="w-col w-col-1">
                  <img src="images/X.svg" loading="lazy" width="24" height="24" alt="" />
                </div>
                <div class="w-col w-col-11">
                  <h4 class="heading-3">Egress Tax</h4>
                  <div class="text-block-6">
                    Eliminate unfair egress fees from cloud providers.
                  </div>
                </div>
              </div>
              <div class="xxx non w-row">
                <div class="w-col w-col-1">
                  <img src="images/X.svg" loading="lazy" width="24" height="24" alt="" />
                </div>
                <div class="w-col w-col-11">
                  <h4 class="heading-3">Server Centric</h4>
                  <div class="text-block-6">
                    Retain control and visibility of your application
                    data.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space second"></div>
</div>
