<div class="bluesection footer wf-section">
  <div class="div-block-9">
    <div class="footerwraper">
      <div class="w-layout-grid grid-3">
        <div id="w-node-ced23e2a-e3e1-6a40-58c2-ee03a104e335-ddcae6f4">
          <div class="div-block-10">
            <img src="{{ .Site.Params.footerIcon }}" height="40px" loading="lazy" alt="" />
            <p class="paragraph">
              {{ .Site.Params.footerCopy }}
            </p>
          </div>
          <div class="lunkswraper footer">
            <a
              href="{{ .Site.Params.githubUrl }}"
              target="_blank"
              class="w-inline-block w-clearfix"
              ><img
                src="{{ .Site.Params.githubIcon }}"
                loading="lazy"
                alt=""
                class="image-6"
            /></a>
            <a
              href="{{ .Site.Params.twitterUrl }}"
              target="_blank"
              class="w-inline-block w-clearfix"
              ><img
                src="{{ .Site.Params.twitterIcon }}"
                loading="lazy"
                alt=""
                class="image-6"
            /></a>
            <a
              href="{{ .Site.Params.discordUrl }}"
              target="_blank"
              class="w-inline-block w-clearfix"
              ><img
                src="{{ .Site.Params.discordIcon }}"
                loading="lazy"
                width="24"
                alt=""
                class="image-6"
            /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="copirating">
      <div class="div-block-11"></div>
      <p class="paragraph-2">{{ .Site.Params.copyright }}. All rights reserved.</p>
    </div>
  </div>
</div>
