<div class="hero wf-section">
  <div class="section cc-store-home-wrap">
    <div class="intro-header">
      <div class="intro-content cc-homepage">
        <div class="intro-text">
          <div class="intro-heading">
            <div class="heading-jumbo">
              Decentralized<br /><span id="words" class="text-span"
                ><span id="content">Content</span
                ><span data-words="Delivery|Applications|Management"
                  >Management</span
                ><span id="content-mobile">Content Management</span></span
              >
            </div>
            <img
              src="images/Star.svg"
              loading="lazy"
              alt=""
              class="intro-text-bg-img"
            />
          </div>
          <div class="paragraph-bigger cc-bigger-white-light">
            Build user-centric applications and
            <strong>stop paying the</strong>
            <strong>cloud tax</strong>.<br />
          </div>
        </div>
        <div class="div-block hero cta">
          <a
            href="https://github.com/kubelt/whitepaper/blob/main/kubelt_whitepaper.pdf"
            class="button cc-jumbo-button cc-jumbo-white active b w-inline-block"
            target="_blank"
          >
            <div class="text-block-2 ss b">Whitepaper</div>
          </a>
          <a
            href="https://omq1ez0wxhd.typeform.com/to/IXfcN3Xf"
            target="_blank"
            class="whitepaper button cc-jumbo-button cc-jumbo-white second bff w-inline-block"
          >
            <div class="text-block-3">Get Access</div>
          </a>
        </div>
      </div>
    </div>
    <div class="container"></div>
  </div>
  <div class="taps-content">
    <img
      src="images/Group-48095728.png"
      loading="lazy"
      data-w-id="c8ab9d7a-61e5-97ea-2923-1331ff119d8a"
      sizes="(max-width: 767px) 100vw, (max-width: 991px) 50vw, (max-width: 1919px) 40vw, 30vw"
      srcset="
        images/Group-48095728-p-500.png 500w,
        images/Group-48095728.png       831w
      "
      alt=""
      class="tap-bg"
      id="rings"
    />
  </div>
</div>
