<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
<script>
  function deviceType() {
    const ua = navigator.userAgent;
    if (/(tablet|ipad|playbook|silk)|(android(?!.*mobi))/i.test(ua)) {
      return "tablet";
    } else if (
      /Mobile|Android|iP(hone|od)|IEMobile|BlackBerry|Kindle|Silk-Accelerated|(hpw|web)OS|Opera M(obi|ini)/.test(
        ua
      )
    ) {
      return "mobile";
    }
    return "desktop";
  }

  if (deviceType() !== "mobile") {
    $("#content-mobile").remove();
    $("[data-words]").attr("data-words", function (i, words) {
      var $self = $(this).text(""),
        words = words.split("|"),
        tot = words.length,
        c = 0;

      for (var i = 0; i < tot; i++)
        $self.append($("<span/>", { text: words[i] }));

      var $words = $self.find("span");

      (function loop() {
        $self
          .animate(
            { width: $words.eq(c).width() },
            {
              duration: 500,
              complete: function () {
                c = ++c % tot;
              },
              start: function () {
                $words.eq(c).fadeIn();
              },
            }
          )
          .delay(2500)
          .animate(
            { width: 0 },
            {
              duration: 500,
              complete: function () {
                loop();
              },
              start: function () {
                $words.fadeOut();
              },
            }
          );
      })();
    });
  } else {
    $("[data-words]").remove();
    $("#content").remove();
  }
  $(function () {
    var rotation = 0,
      scrollLoc = $(document).scrollTop();
    $(window).scroll(function () {
      var newLoc = $(document).scrollTop();
      var diff = scrollLoc - newLoc;
      (rotation += diff), (scrollLoc = newLoc);
      var rotationStr = "rotate(" + rotation / 12 + "deg)";
      $("#rings").css({
        "-webkit-transform": rotationStr,
        "-moz-transform": rotationStr,
        transform: rotationStr,
      });
    });
  });
</script>
