<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
    data-doc-height="1" role="banner" class="navigation white black w-nav">
    <div class="navigation-wrap">
        <a href="index.html" aria-current="page" class="logo-link w-nav-brand w--current"><img src="images/Asset-4.svg"
                width="180" alt="" class="logo-image black" /></a>
        <div class="div-block-19">
            <a href="https://kubelt.notion.site/Jobs-4c1b8408d2244797924e53c9eae65f43" target="_blank"
                class="button cc-contact-us grey ttt w-inline-block">
                <div class="text-block _33">We’re hiring</div>
            </a>
            <a href="https://omq1ez0wxhd.typeform.com/to/IXfcN3Xf" target="_blank"
                class="button cc-contact-us b w-inline-block">
                <div class="text-block">Get Access</div>
            </a>
        </div>
    </div>
</div>
