<div class="users wf-section">
  <div class="nextwraper">
    <div class="columns-2 w-row">
      <div class="column w-col w-col-6">
        <div class="div-block-15">
          <h3 class="heading-4">Who loves Kubelt?</h3>
          <div class="text-block-7">
            We love working with innovative partners and companies. Follow and
            subscribe to keep up to date with us.
          </div>
          <div class="div-block butt">
            <a
              href="{{ .Site.Params.twitterUrl }}"
              target="_blank"
              class="button cc-jumbo-button cc-jumbo-white second ddd b w-inline-block"
              ><img
                src="{{ .Site.Params.twitterIcon }}"
                loading="lazy"
                width="22"
                alt=""
                class="image-10"
              />
              <div class="text-block-3 b">Twitter</div>
            </a>
            <a
              href="{{ .Site.Params.discordUrl }}"
              target="_blank"
              class="button cc-jumbo-button cc-jumbo-white second ddd b w-inline-block"
              ><img
                src="{{ .Site.Params.discordIcon }}"
                loading="lazy"
                width="22"
                alt=""
                class="image-10"
              />
              <div class="text-block-3 b">Discord</div>
            </a>
            <a
              href="{{ .Site.Params.githubUrl }}"
              target="_blank"
              class="button cc-jumbo-button cc-jumbo-white second ddd b w-inline-block"
              ><img
                src="{{ .Site.Params.githubIcon }}"
                loading="lazy"
                width="22"
                alt=""
                class="image-10"
              />
              <div class="text-block-3 b">Github</div>
            </a>
          </div>
        </div>
      </div>
      <div class="column-2 w-col w-col-6">
        <div class="forwraper">
          <div class="w-layout-grid grid-2">
            <div
              id="w-node-_354b7aeb-2652-d59a-a509-4a4784836f0d-ddcae6f4"
              class="div-block-6"
            >
              <a href="https://courtyard.io" target="_blank"
                ><img
                  src="images/courtyard.png"
                  loading="lazy"
                  width="316"
                  sizes="(max-width: 479px) 250px, 316px"
                  srcset="
                    images/courtyard-p-500.png 500w,
                    images/courtyard.png       670w
                  "
                  alt=""
                  class="image-3"
              /></a>
            </div>
            <div
              id="w-node-a830f68e-c517-4e1a-0658-1ebac89d3788-ddcae6f4"
              class="div-block-6"
            >
              <a href="https://protocol.ai/" target="_blanl"
                ><img
                  src="images/PROTOCOLLABS_LOGO_WHITE.png"
                  loading="lazy"
                  alt=""
                  class="image-3"
              /></a>
            </div>
            <div
              id="w-node-f58df157-0299-64bd-23ca-5b5d0a0228c8-ddcae6f4"
              class="div-block-6"
            >
              <a href="https://sanity.io" target="_blank">
                <img
                  src="images/sanity.png"
                  loading="lazy"
                  sizes="(max-width: 479px) 250px, (max-width: 767px) 450px, (max-width: 991px) 83vw, (max-width: 1919px) 42vw, 566px"
                  srcset="
                    images/sanity-p-500.png   500w,
                    images/sanity-p-1080.png 1080w,
                    images/sanity-p-1600.png 1600w,
                    images/sanity.png        1620w
                  "
                  alt=""
                  class="image-3"
              /></a>
            </div>
            <div
              id="w-node-cdfce8ee-85b6-fca2-3fd8-9d41c45d5fca-ddcae6f4"
              class="div-block-6"
            >
              <a href="https://lfg.orangedao.xyz/" target="_blank"
                ><img
                  src="images/orange.png"
                  loading="lazy"
                  sizes="(max-width: 479px) 250px, (max-width: 767px) 450px, (max-width: 991px) 80vw, (max-width: 1919px) 42vw, 566px"
                  srcset="images/orange-p-500.png 500w, images/orange.png 670w"
                  alt=""
                  class="image-3"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
