.h1 {
  font-weight: bold;
  font-family: Inter;
}
.h2 {
  font-weight: bold;
  font-family: Inter;
}
.h3 {
  font-weight: bold;
  font-family: Inter;
}
.h4 {
  font-weight: bold;
  font-family: Inter;
}
.h5 {
  font-weight: bold;
  font-family: Inter;
}
.h6 {
  font-weight: bold;
  font-family: Inter;
}
