{:lint-as {}
 :linters {:unresolved-symbol {:exclude [goog.DEBUG]}
           :unused-namespace {:exclude [cljs.repl]}
           :unused-referred-var {:exclude {cljs.repl [Error->map
                                                      apropos
                                                      dir
                                                      doc
                                                      error->str
                                                      ex-str
                                                      ex-triage
                                                      find-doc
                                                      print-doc
                                                      pst
                                                      source]}}}}
