.invite-header {
  font-family: Inter_600SemiBold;
  font-size: 20;
  font-weight: 600;
  line-height: 4;
  color: #1f2937;
}

.invite-description {
  font-family: "Inter_400Regular";
  font-size: 14;
  font-weight: 400;
  line-height: 2;
  color: #9ca3af;
  margin-bottom: 20;
}

.invite-link-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  padding-top: 11;
  padding-bottom: 11;
  padding-left: 17;
  padding-right: 17;
}

.invite-link-text {
  font-family: Inter_500Medium;
  font-size: 14;
  line-height: 2;
  color: #d1d5db;
}

.invite-link {
  flex: 1;
  font-family: Inter_400Regular;
  font-weight: 400;
  font-size: 14;
  line-height: 4;
  padding-top: 11;
  padding-bottom: 11;
  padding-left: 13;
  color: #9ca3af;
}

.invite-link-img {
  width: 15;
  height: 15;
  margin-right: 10.5;
  color: #d1d5db;
}

.invitees {
  border: 1px solid #f3f4f6;
  padding: 12;
}

.invitees-prefix {
  font-family: Inter_500Medium;
  font-size: 14;
  font-weight: 600;
  line-height: 3;
  color: #6b7280;
}

.invites-left-amount {
  margin-top: 5;
  font-family: Inter_400Regular;
  font-size: 12;
  font-weight: 400;
  line-height: 2;
  color: #9ca3af;
}

.holder-wide {
  padding-top: 12;
  padding-bottom: 12;
}

.holder-address {
  font-family: Inter_500Medium;
  font-size: 14;
  font-weight: 500;
  line-height: 2;
  color: #9ca3af;
}
.holder-timestamp {
  font-family: Inter_400Regular;
  font-size: 12;
  font-weight: 400;
  line-height: 2;
  color: #9ca3af;
}

.placeholder-for-holders {
  font-family: Inter_400Regular;
  font-size: 12;
  font-weight: 400;
  line-height: 4;
  color: #9ca3af;
  text-align: center;
  padding: 20;
}
