SECRET_SESSION_SALT = ""
SECRET_SESSION_KEY = ""
INTERNAL_GOOGLE_ANALYTICS_TAG = "G-NHNH4KRWC3"

SECRET_STRIPE_API_KEY = ""
SECRET_STRIPE_WEBHOOK_SECRET = ""
SECRET_STRIPE_PRO_PLAN_ID = ""
SECRET_STRIPE_GROUP_SEAT_PLAN_ID = ""
SECRET_STRIPE_APP_DATA_STORAGE_PRODUCT_ID = ""
SECRET_STRIPE_APP_DATA_STORAGE_STARTER_PRICE_ID = ""
SECRET_STRIPE_APP_DATA_STORAGE_SCALE_PRICE_ID = ""