@import "./variables.scss";
@import "./base.scss";

// .wrapper {

// }

.header {
    background-color: $threeid-header ;
    padding-bottom: 300px;
    padding-left: 1em;
    padding-right: 1em;

    nav {
        margin-right: auto;
        margin-left: auto;
        padding-top: 1em;
        padding-bottom: 1em;
        max-width: 1214px;
        z-index: 2;
    }
}

.nav-items {

    img {
        width: 36.56px;
        height: 41.05px;
    }
    ul {

        li {
            padding: 8px 12px;
            border-radius: 6px;
            font-family: 'Inter_500Medium';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 38px;
            color: $threeid-darkgrey;
        }
    }

    .nav-button {
        button {
            background-color: white;
            color: $threeid-darkgrey;
        }
    }
}

.progress-bar {
    width: 100%;
    background-color: $threeid-light;
    height: 5px;
    margin-bottom: 14px;

    .progress-bar__fill {
        background-color: $threeid-bar;
        flex: 1;
        height: 5px;
    }
}

.steps {
    border: $threeid-light 1px solid;
    padding: 12px;

    .step {
        // flex-direction: row;
        justify-content: space-between;

        img {
            width: 24px;
            height: 24px;
            // margin-right: 18px;
        }

        .roadmap-vote__button {
            width: 32px;
            height: 32px;
            background-color: $threeid-light;
            border: none;
            color: $threeid-dark;
            padding: 8px;
            margin: 0;

            &:active {
                transform: scale(0.9);
            }
            &:hover {
                cursor: pointer;
            }
            &[disabled] {
                opacity: 0.35;
                // color: #fff;
            }
        }
    }
}