@import "./variables.scss";
@import "./base.scss";

.wrapper {
    min-height: 100vh;
}

nav {
    padding: 1em;

    img {
        width: 36.56px;
        height: 41.05px;
    }
}

.content {
    justify-content: center;
    align-items: center;
    margin: auto;
}

footer {
    margin-top: auto;
}


.auth-message {
    padding-bottom: 22px;
    font-family: Inter_500Medium;
    font-size: 24px;
    font-weight: 700;
    max-width: 758px;
    text-align: center;
    margin-right: 0;
    color: $threeid-header-dark;
    justify-content: center;
    align-items: center;
}

.auth-secondary-message {
    padding: 1em;
    font-family: Inter_400regular;
    font-size: 18px;
    font-weight: 400;
    max-width: 758px;
    text-align: center;
    margin-right: 0;
    color: $threeid-header-dark;
    justify-content: center;
    align-items: center;
}

.connectors {
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.connector {
    background-color: white;
    justify-content: center;
    margin-top: 0.5em;
    padding: 1em 2em;
    // margin: 0 1em;
    // width: 460px;
    width: 100%;
    // height: 57px;
    border: 1px solid #D1D5DB;

    svg {
        // display: inline-block;
        float: left;
        margin: 0 1em 0 0;
    }

    &[disabled] {
        background: $threeid-text-light;
        opacity: 0.5;
    }
}

.open-metamask-app {
    padding: 2em 0 0 0;
    // margin-bottom: -2em;
    font-family: Inter_700Bold;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    color: $threeid-header-dark;
    text-decoration: underline;
    // height: 100px;
    text-align: center;
    justify-content: center;
    width: 100%;
    // flex: 0 1 0%;
    // display: flex;
}