@import "./variables.scss";

@font-face {
    font-family: Inter_400Regular;
    src: url("/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: Inter_500Medium;
    src: url("/fonts/Inter-Medium.ttf");
}

@font-face {
    font-family: Inter_600SemiBold;
    src: url("/fonts/Inter-SemiBold.ttf");
}

@font-face {
    font-family: Inter_700Bold;
    src: url("/fonts/Inter-Bold.ttf");
}


html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: calc(100% + env(safe-area-inset-top));
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;


}
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: scrollbar;
    overscroll-behavior-y: none;
    min-height: 100%;
    background-color: $threeid-white;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-color: $threeid-white;
}

footer {
    padding: 1em;
    justify-content: center;
    align-items: center;
    p {
        font-family: Inter_400Regular;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: $threeid-darkgrey;
    }
}
