// COLORS
$threeid-white: #f9fafb;
$threeid-light: #f3f4f6;
$threeid-dark: #1f2937;
$threeid-grey: #9ca3af;
$threeid-lightgrey: #d1d5db;
$threeid-darkgrey: #374151;

$threeid-header: #192030;

$threeid-bar: #4f46e5;
