# -*- mode: shell-script -*-

TWITTER_URL=https://twitter.com/kubelt

DISCORD_URL=https://discord.gg/UgwAsJf6C5
DISCORD_CHANNEL_URL=https://discord.com/channels/790660849471062046/988800994290831380

GATE_REDIRECT_URL=https://dapp.threeid.xyz

OORT_SCHEMA=http
OORT_HOST=127.0.0.1
OORT_PORT=8787
