node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Build output directory.
web-build/
# We generate this wrangler config file using:
# $ bb wrangler:toml
wrangler.toml
# Environment variables used as compile-time constants.
.env
# Deployment-related configuration values.
deploy.edn

# macOS
.DS_Store

# Testing
cypress/
tests/e2e/synpress.dev.json
