;; three-id/deploy.edn
;; -----------------------------------------------------------------------------
;; To add a new dev environment, a developer must:
;; * create a CloudFlare account with their @kubelt.com e-mail
;; * run: npm install in the repo (in $ROOT/three-id/ directory)
;;   [this installs wrangler]
;; * run: npx wrangler login (in $ROOT/three-id/ directory)
;;   [grants wrangler permission to make changes in their account]
;; * ensure they are logged into developer CF site
;;   NB: in CloudFlare UI make sure you're viewing <dev@kubelt.com>,
;;   *not* <admin@kubelt.com>
;; * create worker service: three-id
;; * create KV store: three-id-APP
;;
;; In this file:
;; * add :dev/account-id
;; * add :dev/kv-app-id
;; * add :dev/url
;;
;;
;; Run some tests and ensure you get expected output:
;; * bb -prn:deploy-env --deploy-env env
;; * bb -prn:deploy-host --deploy-env env
;; * bb -prn:deploy-url --deploy-env env
;; * bb -prn:options --deploy-env env
;; * DEV_ACCOUNT_ID=foobar bb -prn:env-vars --deploy-env env
;; * DEV_KV_APP_ID=foobar bb -prn:env-vars --deploy-env env

{:dev/account-id ""
 :dev/kv-app-id ""
 :dev/url ""

 :admin/account-id ""

 ;; Pre-production
 :next/kv-app-id ""
 :next/url ""

 ;; Production
 :current/kv-app-id ""
 :current/url ""

 ;; The Cloudflare identifier for the threeid.xyz zone. Used to make API
 ;; call to purge cache for the zone when deploying to production.
 :cloudflare/zone-id ""
 :cloudflare/zone-name "threeid.xyz"
 ;; Token that permits purging of threeid.xyz zone cache *only*.
 :cloudflare/api-token ""

 ;; Datadog client token that is compiled into the app.
 :datadog/client-token ""

 ;; GnuPG release signing key
 :gpg/signing-key ""

 ;; Metamask wallet for 3iD testing.
 :metamask/password ""
 :metamask/recovery-phrase ""}
 