OORT_HOST="oort-devnet.kubelt.com"
OORT_SCHEMA="http"
OORT_PORT="80"

DAPP_HOST="localhost"
DAPP_PORT="9797"
DAPP_SCHEMA="http"

GALAXY_HOST="127.0.0.1"
GALAXY_PORT="8787
GALAXY_SCHEMA="http"

SESSION_SECRET="foobar"

TWITTER_URL=https://twitter.com/threeid_xyz
DISCORD_URL=https://discord.gg/threeid

DATADOG_CLIENT_TOKEN=
DATADOG_APPLICATION_ID=
DATADOG_SERVICE_NAME=3id-application
DATADOG_ENV=local
DATA_API_TOKEN=

# for `act --secret-file threeid/.env -W .github/workflows/next.yaml -j ThreeID` 
ADMIN_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CF_ZONE_ID=

ETH_GOERLI_PK=

NFTAR_URL=
NFTAR_AUTHORIZATION=
MINTPFP_CONTRACT_ADDRESS=
NFTAR_CHAIN_ID=5
VALID_CHAIN_ID_NAME=goerli

ALCHEMY_NFT_API_URL=
ALCHEMY_PUBLIC_API_KEY=

TEST_ENV=true
