# three-id/worker/wrangler.toml.example

compatibility_date = "2022-06-20"

main = "src/index.js"

# Account ID for admin@kubelt.com (staging and production). Override for
# per-user deployments, which should use individual user's account ID to
# keep development activities separate from production infra, hopefully
# avoiding accidents.
account_id = "{{admin/account-id}}"

# Development
# ------------------------------------------------------------------------------
# NB: each developer gets a personal dev environment.

# Whether or not the worker should be deployed to *.workers.dev. Can use
# either route or workers_dev, but not both.
workers_dev = true

{% if alex/account-id %}
[env.alex]
name = "three-id"
account_id = "{{alex/account-id}}"
vars = { ENVIRONMENT = "development" }
kv_namespaces = [
  { binding = "APP", id = "{{alex/kv-app-id}}" },
]
{% endif %}

{% if robert/account-id %}
[env.robert]
name = "three-id"
account_id = "{{robert/account-id}}"
vars = { ENVIRONMENT = "development" }
kv_namespaces = [
  { binding = "APP", id = "{{robert/kv-app-id}}" },
]
{% endif %}

{% if juan/account-id %}
[env.juan]
name = "three-id"
account_id = "{{juan/account-id}}"
vars = { ENVIRONMENT = "development" }
kv_namespaces = [
  { binding = "APP", id = "{{juan/kv-app-id}}" },
]
{% endif %}

{% if cosmin/account-id %}
[env.cosmin]
name = "three-id"
account_id = "{{cosmin/account-id}}"
vars = { ENVIRONMENT = "development" }
kv_namespaces = [
  { binding = "APP", id = "{{cosmin/kv-app-id}}" },
]
{% endif %}

{% if dhruv/account-id %}
[env.dhruv]
name = "three-id"
account_id = "{{ dhruv/account-id }}"
vars = { ENVIRONMENT = "development" }
kv_namespaces = [
  { binding = "APP", id = "{{dhruv/kv-app-id}}" },
]
{% endif %}

{% if admin/account-id %}

  {% if all next/kv-app-id %}
  # next (staging)
  # ------------------------------------------------------------------------------

  [env.next]
  name = "three-id-next"
  vars = { ENVIRONMENT = "next" }
  kv_namespaces = [
    { binding = "APP", id = "{{next/kv-app-id}}" },
  ]
  {% else %}
  # Skipping setup for next
  {% endif %}

  {% if all current/kv-app-id %}
  # current (production)
  # ------------------------------------------------------------------------------

  [env.current]
  name = "three-id-current"
  vars = { ENVIRONMENT = "current" }
  kv_namespaces = [
    { binding = "APP", id = "{{current/kv-app-id}}" },
  ]
  {% else %}
  # Skipping setup for current
  {% endif %}

{% else %}
# Skipping setup for next and current
{% endif %}
