<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode | default "en" }}'>
  {{ block "homepage/head/head" . }}{{ partial "homepage/head/head.html" . }}{{ end }}

  <body class='{{ .Scratch.Get "class" }} bg-white'>
    <div class="page-wrapper">
      {{ block "homepage/navbar" . }}{{ partial "homepage/navbar.html" . }}{{ end }} 
      {{ block "homepage/hero" . }}{{ partial "homepage/hero.html" . }}{{ end }} 
      {{ block "homepage/features" . }}{{ partial "homepage/features.html" . }}{{ end }} 
      {{ block "homepage/users" . }}{{ partial "homepage/users.html" . }}{{ end }} 
      {{ block "homepage/cta" . }}{{ partial "homepage/cta.html" . }}{{ end }} 
      {{ block "homepage/footer" . }}{{ partial "homepage/footer.html" . }}{{ end }}
    </div>

    {{ block "homepage/body/script" . }} 
      {{ partial "homepage/body/script.html" . }} 
      {{ partial "homepage/hero-script.html" . }} 
    {{ end }}
  </body>
</html>
