---
name: test and build
on:
  pull_request:
    branches:
      - main

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      sdk: ${{ steps.changes.outputs.sdk }}
      dapp: ${{ steps.changes.outputs.dapp }}
      www: ${{ steps.changes.outputs.www }}
      ext: ${{ steps.changes.outputs.ext }}
      three-id: ${{ steps.changes.outputs.three-id }}
    steps:
      # find out what deploy stack to use
      - uses: actions/checkout@master
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            sdk: 'src/**'
            dapp: 'dapp/**'
            www: 'www/**'
            ext: 'ext/**'
            three-id: 'three-id/**'

  # To detect lint errors across namespaces in your project, a cache is
  # needed. A cache will be created at .clj-kondo/ when you run
  # clj-kondo. It is recommended to lint the entire classpath to teach
  # clj-kondo about all the libraries you are using, including Clojure
  # and/or ClojureScript itself.
  pre-lint:
    needs: changes
    #if: needs.changes.outputs.sdk == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: DeLaGuardo/setup-clojure@8.0
        with:
          clj-kondo: 2022.05.31
      - run: clj-kondo --lint "$(clj -Spath)" --dependencies --parallel --copy-configs

  # ddt
  # ----------------------------------------------------------------------------

  lint-ddt:
    needs: pre-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: DeLaGuardo/setup-clojure@8.0
        with:
          clj-kondo: 2022.05.31
      - run: clj-kondo --fail-level error --lint src/main/com/kubelt/ddt*

  build-ddt:
    needs: changes
    if: needs.changes.outputs.sdk == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: DeLaGuardo/setup-clojure@8.0
        with:
          bb: 0.8.156
          cli: 1.11.1.1149
      - uses: actions/setup-node@v3
        with:
          node-version: lts/gallium
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm install
      - run: npm run build:ddt:develop

  # kbt
  # ----------------------------------------------------------------------------

  lint-kbt:
    needs: pre-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: DeLaGuardo/setup-clojure@8.0
        with:
          clj-kondo: 2022.05.31
      - run: clj-kondo --fail-level error --lint src/main/com/kubelt/kbt*

  build-kbt:
    needs: changes
    if: needs.changes.outputs.sdk == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: DeLaGuardo/setup-clojure@8.0
        with:
          bb: 0.8.156
          cli: 1.11.1.1149
      - uses: actions/setup-node@v3
        with:
          node-version: lts/gallium
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm install
      - run: npm run build:kbt:develop

  # sdk
  # ----------------------------------------------------------------------------

  lint-lib:
    needs: pre-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: DeLaGuardo/setup-clojure@8.0
        with:
          clj-kondo: 2022.05.31
      - run: clj-kondo --fail-level error --lint src/main/com/kubelt/lib*

  lint-proto:
    needs: pre-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: DeLaGuardo/setup-clojure@8.0
        with:
          clj-kondo: 2022.05.31
      - run: clj-kondo --fail-level error --lint src/main/com/kubelt/proto*

  lint-spec:
    needs: pre-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: DeLaGuardo/setup-clojure@8.0
        with:
          clj-kondo: 2022.05.31
      - run: clj-kondo --fail-level error --lint src/main/com/kubelt/spec*

  lint-sdk:
    needs: pre-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: DeLaGuardo/setup-clojure@8.0
        with:
          clj-kondo: 2022.05.31
      - run: clj-kondo --fail-level error --lint src/main/com/kubelt/sdk*

  # Builds the node library version of the SDK (using the :node
  # conditional reader variant).
  build-sdk:
    needs: changes
    if: needs.changes.outputs.sdk == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: DeLaGuardo/setup-clojure@8.0
        with:
          bb: 0.8.156
          cli: 1.11.1.1149
      - uses: actions/setup-node@v3
        with:
          node-version: lts/gallium
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm install
      - run: npm run build:sdk:develop

  # Builds the node module version of the SDK (using the :browser
  # conditional reader variant).
  build-sdk-web:
    needs: changes
    if: needs.changes.outputs.sdk == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: DeLaGuardo/setup-clojure@8.0
        with:
          bb: 0.8.156
          cli: 1.11.1.1149
      - uses: actions/setup-node@v3
        with:
          node-version: lts/gallium
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm install
      - run: npm run build:sdk-web:develop

  # ----------------------------------------------------------------------------

  # Execute the SDK tests written in ClojureScript.
  test-sdk-cljs:
    needs: changes
    if: needs.changes.outputs.sdk == 'true'
    runs-on: ubuntu-latest
    env:
      METAMASK_PASSWORD: ${{ secrets.METAMASK_3ID_TESTING_PASSWORD }}
      METAMASKID_RECOVERY_PHRASE: ${{ secrets.METAMASK_3ID_TESTING_RECOVERY_PHRASE }}
    steps:
      - uses: actions/checkout@master
      - uses: DeLaGuardo/setup-clojure@8.0
        with:
          bb: 0.8.156
          cli: 1.11.1.1149
      - uses: actions/setup-node@v3
        with:
          node-version: lts/gallium
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm install
      - run: bb run test:sdk:cljs:develop

  # Execute the SDK tests written in JavaScript.
  test-sdk-js:
    needs: changes
    if: needs.changes.outputs.sdk == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: DeLaGuardo/setup-clojure@8.0
        with:
          bb: 0.8.156
          cli: 1.11.1.1149
      - uses: actions/setup-node@v3
        with:
          node-version: lts/gallium
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm install
      - run: bb run test:sdk:js:develop

  test-web:
    needs: changes
    if: needs.changes.outputs.sdk == 'true'
    runs-on: ubuntu-latest
    env:
      CHROME_BIN: /snap/bin/chromium
    steps:
      - uses: actions/checkout@master
      - uses: DeLaGuardo/setup-clojure@8.0
        with:
          bb: 0.8.156
          cli: 1.11.1.1149
      - uses: actions/setup-node@v3
        with:
          node-version: lts/gallium
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: sudo apt-get update
      - run: sudo apt-get install -y chromium-browser
      - run: npm install
        # Run the CI version of the web tests using headless Chrome.
      - run: npm run test:web:ci

  test-three-id:
    needs: changes
    # Test three-id TS app when SDK code changes OR the app itself does
    if: needs.changes.outputs.sdk == 'true' || needs.changes.outputs.three-id == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '18'
      - uses: DeLaGuardo/setup-clojure@8.0
        with:
          bb: 0.8.156
          cli: 1.11.1.1149
      - uses: actions/setup-node@v3
        with:
          node-version: lts/gallium
          cache: 'npm'
          cache-dependency-path: package-lock.json
      # Need pm2 to run `expo web` in the background
      - name: install pm2 (run expo in background)
        run: npm install pm2 -g
      - name: install node dependencies
        run: npm ci
      - name: build sdk-web
        run: npm run build:sdk-web:develop
      - name: install node dependencies (for three-id)
        working-directory: ./three-id
        run: npm ci
      - name: Compile app
        run: bb compile:app --deploy-env next
        working-directory: ./three-id
      - name: Run app
        run: pm2 start npm -- run web
        working-directory: ./three-id
      # Use `xvfb` to run the synpress tests headless
      - uses: GabrielBB/xvfb-action@v1
        env:
          NETWORK: mainnet
          SECRET_WORDS: ${{ secrets.METAMASK_3ID_TESTING_RECOVERY_PHRASE }}
        with:
          working-directory: ./three-id
          run: npm run test:synpress:run

  # test-sdk-web:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@master
  #     - uses: DeLaGuardo/setup-clojure@8.0
  #       with:
  #         bb: 0.8.156
  #         cli: 1.11.1.1149
  #     - uses: actions/setup-node@v3
  #       with:
  #         node-version: lts/gallium
  #         cache: 'npm'
  #         cache-dependency-path: package-lock.json
  #     - run: npm install
  #     - run: npm run test:sdk-web:develop

  # test-dapp:
  #   runs-on: ubuntu-latest
  #   permissions:
  #     packages: read
  #   services:
  #     cloudflare-worker:
  #       image: ghcr.io/kubelt/cloudflare-worker:latest
  #       credentials:
  #         username: ${{ github.actor }}
  #         password: ${{ secrets.github_token }}
  #       ports:
  #         - 8787:8787
  #   steps:
  #     - uses: actions/checkout@master
  #     - uses: DeLaGuardo/setup-clojure@8.0
  #       with:
  #         bb: 0.8.156
  #         cli: 1.11.1.1149
  #     - uses: actions/setup-node@v3
  #       with:
  #         node-version: lts/gallium
  #         cache: 'npm'
  #         cache-dependency-path: package-lock.json
  #     - run: npm ci
  #     # TODO: Enable once JSON RPC work is ready
  #     # Compile and run dapp
  #     - run: npm run build:dapp:release
  #     - run: npm run test:dapp:ci:compile
  #     # Run Cypress tests AFTER the server is running
  #     # Install cypress if it didn't get cached properly
  #     - run: npm install cypress --save-dev
  #     - run: npm run test:dapp:ci:run
  #     # Compile and run re-frame tests with karma
  #     - run: npm run test:dapp-karma:ci:compile
  #     - run: npm run test:dapp-karma:ci:run
