.side-menu-pad {
  width: 240;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.side-menu-avatar {
  margin-bottom: 15;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.side-menu-username {
  margin-bottom: 8;
  font-family: Inter_600SemiBold;
  font-size: 16;
  font-weight: 600;
  // this line breakes view?
  //   line-height: 19.36;
  color: #1a1b2d;
  flex: 1;
}
