@import './variables.scss';
@import './base.scss';

.header {
  padding-bottom: 280px;

  nav {
    padding-bottom: 1em;
  }
}

.progress-bar {
  width: 100%;
  background-color: $rollupid-light;
  height: 5px;
  margin-bottom: 14px;

  .progress-bar__fill {
    background-color: $rollupid-bar;
    flex: 1;
    height: 5px;
  }
}

.steps {
  border: $rollupid-light 1px solid;
  padding: 12px;

  .step {
    // flex-direction: row;
    // justify-content: space-between;

    img {
      width: 24px;
      height: 24px;
      // margin-right: 18px;
    }

    .roadmap-vote__button {
      width: 44px;
      height: 44px;
      background-color: $rollupid-light;
      border: none;
      color: $rollupid-dark;
      // padding: 8px;
      margin: 0;

      &:active {
        transform: scale(0.9);
        background-color: #eef2ff;
        color: #4f46e5;
      }
      &:hover {
        cursor: pointer;
      }
      &[disabled] {
        opacity: 0.3;
        // color: #fff;
      }
    }

    .roadmap-next__check {
      width: 44px;
      height: 44px;
      border: none;
      margin: 0;
      margin-top: 0.25em;
    }
  }
}
