@import './variables.scss';
@import './base.scss';

.wrapper {
  // margin: auto;
  // display: flex;
  height: 100dvh;
}

nav {
  padding: 1em;

  img {
    width: 36.56px;
  }
}

.content {
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  flex-grow: 1;
  min-width: 300px;
}

footer {
  margin-top: auto;
}

.auth-message {
  font-family: Inter_500Medium;
  font-size: 24px;
  font-weight: 700;
  max-width: 758px;
  text-align: center;
  margin-right: 0;
  color: $rollupid-dark;
  justify-content: center;
  align-items: center;
}

.auth-secondary-message {
  padding: 1em;
  font-family: Inter_400regular;
  font-size: 18px;
  font-weight: 400;
  max-width: 758px;
  text-align: center;
  margin-right: 0;
  color: $rollupid-dark;
  justify-content: center;
  align-items: center;
}

.connectors {
  justify-content: center;
  align-items: center;
  margin-top: 1em;

  .grid {
    min-width: 308px;
  }
}

.connector {
  background-color: white;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5em;
  padding: 1em 2em;
  font-family: Inter_500Medium;
  font-weight: 500;
  width: 100%;
  border: 1px solid $rollupid-lightgrey;
  border-radius: 6px;

  svg {
    float: left;
    margin: 0 1em 0 0;
  }

  &[disabled] {
    background: $rollupid-light;
    opacity: 0.5;
  }
}

.open-metamask-app {
  padding: 2em 0 0 0;
  font-family: Inter_700Bold;
  font-size: 14px;
  font-weight: 700;
  color: $rollupid-dark;
  text-decoration: underline;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.error-buttons button,
.error-buttons a {
  margin: 1em 0.5em;
  text-align: center;
}

.card-image {
  max-width: 364px;
  // margin-top: -43px;
}

.activate-button {
  margin-top: 1em;
  text-align: center;
}
