@import './variables.scss';

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: calc(100% + env(safe-area-inset-top));
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
  overscroll-behavior-y: none;
  min-height: 100%;
  background-color: $rollupid-white;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background-color: $rollupid-white;
}

footer {
  padding: 1em;
  justify-content: center;
  align-items: center;
  p {
    font-family: Inter_400Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: $rollupid-darkgrey;
  }
}

.header {
  background-color: $rollupid-header;
  // padding-left: 1em;
  // padding-right: 1em;

  nav {
    margin-right: auto;
    margin-left: auto;
    // padding-top: 1em;
    max-width: 1214px;
    z-index: 2;
  }
}

div[data-testid='flowbite-tooltip'] div {
  font-family: Inter_500Medium;
}

.grid-shrink {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr); // see note below
  grid-template-areas: 'shrink expand';

  .expand {
    grid-area: expand;
  }

  .shrink {
    padding-right: 1em;
    grid-area: shrink;
    font-weight: 700;
  }
}

.error-screen {
  .wrapper {
    // margin: auto;
    // display: flex;
    height: 100vh;
  }

  nav {
    padding: 1em;

    img {
      width: 36.56px;
    }
  }

  .content {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-grow: 1;
    min-width: 300px;
  }

  .error-message {
    font-family: Inter_500Medium;
    font-size: 60px;
    font-weight: 700;
    max-width: 758px;
    text-align: center;
    margin-right: 0;
    color: $rollupid-dark;
    justify-content: center;
    align-items: center;
  }

  .error-secondary-message {
    font-family: Inter_400regular;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    max-width: 758px;
    text-align: center;
    margin-right: 0;
    color: $rollupid-dark;
    justify-content: center;
    align-items: center;
  }
}

.hover-child-visible {
  * {
    visibility: hidden;
  }

  &:hover {
    * {
      visibility: visible;
    }
  }
}
