// COLORS
$rollupid-white: #f9fafb;
$rollupid-light: #f3f4f6;
$rollupid-dark: #1f2937;
$rollupid-grey: #9ca3af;
$rollupid-lightgrey: #d1d5db;
$rollupid-darkgrey: #374151;

$rollupid-header: #192030;

$rollupid-bar: #4f46e5;
